<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.baseframe.myspringboot.mapper.DemoMapper" >

    <select id="testConnect" parameterType="java.lang.String" resultType="com.example.baseframe.myspringboot.domain.Employee">
        SELECT user_name AS userName,user_phone AS userPhone FROM `m_fnd_user` where user_name = #{code}
    </select>
    <select id="findPageData" parameterType="com.example.baseframe.myspringboot.domain.Employee" resultType="com.example.baseframe.myspringboot.domain.Employee">
       SELECT user_name AS userName,phone_number AS userPhone FROM `m_fnd_user` where user_name = #{userName}
    </select>
    <select id="findPageTotal" parameterType="com.example.baseframe.myspringboot.domain.Employee" resultType="java.lang.Integer">
       SELECT COUNT(1) FROM `m_fnd_user` where user_name = #{userName}
    </select>
</mapper>

